.btn-create-studentlist {
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.lb_text {
    font-size: 1.3rem;
    margin-bottom: 15px;
    margin-top: 15px;
}


.input_text {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
    width: 100%;
    border: solid 1px black;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.create_list_wrapper {
    display: flex;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 500px;
}

.student-list-input {
    height: 600px;
    width: 400px;
    margin-bottom: 10px;
}

.btn-danger {
    background-color: #d8bfd8;
    padding: 5px;
    height: auto;
    font-size: 10px;
    min-height: 0px;

    margin-left: 20px;
}

.line-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-name {
    margin: 20px 0;
}

.btn-danger:hover {
    background-color: #e37be3;
}
