@import "./navigation.css";
@import "./main.css";
@import "./layout.css";
@import "./footer.css";
@import "./login.css";
@import "./test-presets.css";
@import "./test.css";

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
}

.hidden {
  display: none;
}

#select-tests {
  margin-bottom: 20px;
}

#select-group {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  max-width: 178px;
}

* {
  font-family: Inter;
}

:root {
  --blue: rgb(89, 89, 255);
  --red: rgb(253, 83, 83);
  --background: white;
  --foreground: black;
  --background-input: rgb(235, 235, 235);
  --select-item-focused: rgb(216, 216, 216);
  --select-value-background: rgb(209, 209, 209);
  --select-item-selected: rgb(190, 190, 190);
}

[data-theme="dark"]:root {
  --background: rgb(31, 31, 31);
  --foreground: white;
  --background-input: rgb(54, 54, 54);
  --select-item-focused: rgb(70, 70, 70);
  --select-value-background: rgb(100, 100, 100);
  --select-item-selected: rgb(90, 90, 90);
}
