@import "./navigation.css";
@import "./main.css";
@import "./layout.css";
@import "./footer.css";
@import "./login.css";
@import "./test-presets.css";
@import "./test.css";

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
}

.hidden {
  display: none;
}

* {
  font-family: Inter;
}

:root {
  --blue: rgb(89, 89, 255);
  --red: rgb(253, 83, 83);
  --background: white;
  --foreground: black;
  --background-input: white;
}

[data-theme="dark"]:root {
  --background: rgb(31, 31, 31);
  --foreground: white;
  --background-input: rgb(54, 54, 54);
}
