.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.login-error {
  background: var(--red);
  color: white;
  padding: 15px;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.login-input {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid gray;
  outline-color: var(--blue);
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  font-size: 16px;
  background: var(--blue);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
