.main {
  margin-top: 120px;
  margin-bottom: 100px;
}

.main-title {
  margin: 0;
  font-size: 50px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 0, 215, 1) 0%,
    rgba(79, 79, 237, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 425px) {
  .main-title {
    font-size: 34px;
  }
}

.main-description {
  margin: 0;
  margin-top: 40px;
  font-size: 20px;
}

@media (max-width: 425px) {
  .main-description {
    font-size: 16px;
  }
}

.main-button {
  text-decoration: none;
  color: white;
  background: var(--blue);
  padding: 15px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 40px;
}

.main-button-outline {
  text-decoration: none;
  color: var(--blue);
  padding: 15px;
}
