.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1054px;
  width: 100%;
  margin: 0 auto;
}

.navigation-logo {
  color: inherit;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
}

.navigation-links {
  display: flex;
}

.navigation-item {
  padding: 15px;
  text-decoration: none;
  color: inherit;
}

.navigation-profile {
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin: auto;
  cursor: pointer;
  position: relative;
}

.navigation-profile-menu {
  position: absolute;
  background: white;
  border: 1px solid gray;
  width: 150px;
  top: 0;
  right: 0;
  margin-top: 40px;
  border-radius: 8px;
}

.navigation-profile-menu-item {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 15px;
  display: block;
}
