.test-presets-button {
  background: var(--blue);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  margin-top: 15px;
  display: inline-block;
  margin-bottom: 25px;
}

.test-presets-create-button {
  background: var(--blue);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.test-presets-create-button-outline {
  text-decoration: none;
  color: var(--blue);
  padding: 10px;
}

.test-presets-create-group {
  display: flex;
  flex-direction: column;
}

.test-presets-create-group span,
.test-presets-create-group label {
  margin-bottom: 10px;
}

.test-presets-create-group input {
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid gray;
  outline: none;
  background: var(--background-input);
  color: var(--foreground);
  box-sizing: border-box;
}

.checkbox-with-label input {
  width: auto;
}

.checkbox-with-label label {
  user-select: none;
}

.test-presets-card {
  border-radius: 8px;
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 15px;
}

.test-presets-card-title {
  margin: 0;
  font-size: 24px;
}

.test-presets-card-list {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-bottom: 15px;
}

.test-presets-delete-button {
  color: var(--red);
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
  padding: 0;
}

.test-presets-edit-form label {
  width: 70px;
  display: inline-block;
  margin-bottom: 10px;
}

.test-presets-edit-input {
  width: 159px;
  background: var(--background-input);
  padding: 8px;
  color: var(--foreground);
  outline: none;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid gray;
  font-size: 12px;
}

.test-presets-start-button {
  display: block;
  margin-top: 15px;
  border: none;
  color: var(--blue);
  background: none;
  padding: 0;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
