@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form-wrapper">
    <form class="form-wrapper" action="/profile/changepassword" method="post">
        <label class="label label-text">Пароль:</label>
        <input name="password" type="password" class="input input-bordered w-full max-w-xs" />
        <input class="btn" type="submit" value="Установить пароль" />
    </form>
</div>

<style>
    .form-wrapper label {
        font-size: 24px;
    }

    .form-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        gap: 20px;
    }
</style>