@{
    ViewData["Title"] = "AT Online - онлайн тестирование студентов";
}

<div class="main">
    <h1 class="main-title">Оценка знаний студентов.<br>Объективно.<br>По любым дисциплинам.</h1>
    <p class="main-description">Создаем условия для проведения независимых исследований в области образования.</p>
</div>
