@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Онлайн сервис тестирования студентов</h1>
    <p>Онлайн сервис для тестирования студентов предназначен для оценки знаний обучающихся высших учебных заведений. Он позволяет студентам получить оценку знаний по различным дисциплинам. Сервис разработан с целью повышения качества обучения студентов, обеспечения объективного контроля знаний и проведения независимых исследований в области образования.
        С помощью данного онлайн сервиса студенты могут самостоятельно оценить свои знания по любому предмету.</p>
</div>
