@{
    ViewData["Title"] = "AT Online - онлайн тестирование студентов";
}

<div class="my-16 lg:my-32">
    <h1 class="text-4xl font-bold">Оценка знаний студентов.<br>Объективно.<br>По любым дисциплинам.</h1>
    <p class="text-lg my-5">Создаем условия для проведения независимых исследований в области образования.</p>
    <a href="/register" class="btn">Зарегистрироваться</a>
    <a href="/login" class="btn btn-ghost">Войти</a>
</div>
