@{
    ViewData["Title"] = "AT Online - онлайн тестирование студентов";
}

<div class="my-32">
    <h1 class="text-5xl font-bold leading-tight">Оценка знаний студентов.<br>Объективно.<br>По любым дисциплинам.</h1>
    <p class="text-2xl my-10">Создаем условия для проведения независимых исследований в области образования.</p>
    <a href="/register" class="select-none bg-blue-500 p-3 rounded text-white border-2 border-blue-500 hover:bg-blue-600 hover:border-blue-600">Зарегистрироваться</a>
    <a href="/login" class="select-none border-2 border-blue-500 p-3 rounded text-blue-500 hover:bg-blue-50">Войти</a>
</div>
