@section Scripts
    {
    <script type="module" src="~/js/ai.js"></script>

}

<section id="demos" class="invisible">
    <h2>Demo: Detecting Images</h2>
    <p><b>Click on an image below</b> to see the key landmarks of the face.</p>

    <div class="detectOnClick">
        <img src="https://storage.googleapis.com/mediapipe-assets/portrait.jpg" width="100%" crossorigin="anonymous" title="Click to get detection!" />
    </div>
    <div class="blend-shapes">
        <ul class="blend-shapes-list" id="image-blend-shapes"></ul>
    </div>

    <h2>Demo: Webcam continuous face landmarks detection</h2>
    <p>Hold your face in front of your webcam to get real-time face landmarker detection.</br>Click <b>enable webcam</b> below and grant access to the webcam if prompted.</p>

    <div id="liveView" class="videoView">
        <button id="webcamButton" class="mdc-button mdc-button--raised">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">ENABLE WEBCAM</span>
        </button>
        <div style="position: relative;">
            <video id="webcam" style="position: abso" autoplay playsinline></video>
            <canvas class="output_canvas" id="output_canvas" style="position: absolute; left: 0px; top: 0px;"></canvas>
        </div>
    </div>
    <div class="blend-shapes">
        <ul class="blend-shapes-list" id="video-blend-shapes"></ul>
    </div>
</section>