@model usue_online_tests.Models.TestPreset

@{
    ViewData["Title"] = "Создание шаблона";
}

<h1>Создание шаблона</h1>

<form class="test-presets-create" method="post" action="/testpresets/create">
    <div class="test-presets-create-group">
        <span>Название</span>
        <input name="name" />
    </div>
    <div class="test-presets-create-group">
        <span>Перечисление id тестов через ','</span>
        <input name="Tests" />
    </div>
    <input class="test-presets-create-button" type="submit" value="Создать" />
    <a href="/testpresets" class="test-presets-create-button-outline">Отменить</a>
</form>