@using usue_online_tests.Tests
@model IEnumerable<usue_online_tests.Models.TestPreset>

@{
    ViewData["Title"] = "Шаблоны тестов";
}
<p>
    <a asp-action="Create">Создать новый шаблон</a>
</p>

@{
    List<ITestCreator> creaters = ViewBag.Tests;
}

@foreach (var item in Model)
{
    <div class="presetBox">
        <h3>@item.Name</h3>

        @foreach (var t in item.Tests)
        {
            <p>@creaters.FirstOrDefault(creater => creater.TestID == t)?.Name</p>
        }
        <form method="POST" action="/testpresets/delete">
            <input hidden name="presetId" value="@item.Id"/>
            <input class="btn btn-light delete" type="submit" value="Удалить"/>
        </form>
        <br/>
        <form method="POST" action="/testpresets/startnew">
            <input hidden name="presetId" value="@item.Id"/>
            <label>Группа: </label>
            <input name="group" type="text"/>
            <label>Время начала тестирования: </label>
            <input type="datetime-local" name="datetimeStart"/>
            <label>Время окончания тестирования: </label>
            <input type="datetime-local" name="datetimeEnd"/>
            <input name="createExam" class="btn btn-light exam" type="submit" value="Начать тестирование"/>
        </form>
    </div>
}
