@using Test_Wrapper
@model IEnumerable<usue_online_tests.Models.TestPreset>

@{
    ViewData["Title"] = "Шаблоны тестов";
}

<div class="prose">
    <h1>Шаблоны тестов</h1>
</div>
<a class="btn my-4" href="/testpresets/create">Создать новый шаблон</a>

@{
    List<ITestCreator> creators = ViewBag.Tests;
}

@if (!Model.Any())
{
    <div class="prose">
        <p>Пока вы не создали ни одного шаблона.</p>
    </div>
}

<div class="grid sm:grid-cols-2 gap-4">
    @foreach (var item in Model)
    {
        <a href="/testpresets/edit/@item.Id" class="card shadow-md hover:shadow-lg bg-base-100">
            <div class="card-body">
                <h2 class="card-title">@item.Name</h2>
                <p>В шаблон входят тесты по дисциплинам:</p>
                <ul class="list-disc list-inside prose">
                    @foreach (var t in item.Tests)
                    {
                        <li>@creators.FirstOrDefault(creator => creator.TestID == t)?.Name</li>
                    }
                </ul>
                <label for="create-modal" class="btn modal-button mt-4">Начать тестирование</label>
            </div>
        </a>
        @* <form class="test-presets-delete-form" method="POST" action="/testpresets/delete">
            <input hidden name="presetId" value="@item.Id" />
            <input class="p-3 rounded text-red-500 border-2 border-red-500 cursor-pointer hover:bg-red-50" type="submit"
            value="Удалить" />
            </form> *@
    }
</div>

<input type="checkbox" id="create-modal" class="modal-toggle" />
<div class="modal modal-bottom sm:modal-middle">
    <form class="modal-box" method="POST" action="/testpresets/startnew">
        @* <input hidden name="presetId" value="@item.Id" /> *@
        <h3 class="font-bold text-lg">Выберите группу и время доступности теста</h3>
        <label class="label label-text">Группа</label>
        <div class="select-group"></div>
        <input name="group" hidden />
        <label class="label label-text">Начало</label>
        <input class="input input-bordered w-full" type="datetime-local" name="datetimeStart" />
        <label class="label label-text">Конец </label>
        <input class="input input-bordered w-full" type="datetime-local" name="datetimeEnd" />
        <div class="modal-action">
            <input name="createExam" class="btn" type="submit" value="Начать тестирование" />
            <label for="create-modal" class="btn btn-ghost">Отмена</label>
        </div>
    </form>
</div>