@using usue_online_tests.Tests
@using Test_Wrapper
@model IEnumerable<usue_online_tests.Models.TestPreset>

@{
    ViewData["Title"] = "Шаблоны тестов";
}

<div class="prose">
    <h1>Шаблоны тестов</h1>
</div>
<a class="btn my-4" href="/testpresets/create">Создать новый шаблон</a>

@{
    List<ITestCreator> creators = ViewBag.Tests;
}

@if (!Model.Any())
{
    <div class="prose">
        <p>Пока вы не создали ни одного шаблона.</p>
    </div>
}

<div class="grid sm:grid-cols-2 gap-4">
@foreach (var item in Model)
{
    <a href="/testpresets/edit" class="card shadow-md hover:shadow-lg bg-base-100">
        <div class="card-body">
            <h2 class="card-title">@item.Name</h2>
            <p>В шаблон входят тесты по дисциплинам:</p>
            <ul class="list-disc list-inside prose">
                @foreach (var t in item.Tests)
                {
                    <li>@creators.FirstOrDefault(creator => creator.TestID == t)?.Name</li>
                }
            </ul>
        </div>
    </a>
        <!-- <form class="test-presets-edit-form" method="POST" action="/testpresets/startnew">
            <input hidden name="presetId" value="@item.Id" />
            <label>Группа</label>
            <div class="select-group"></div>
            <input name="group" hidden />
            <br>
            <label>Начало</label>
            <input class="test-presets-edit-input" type="datetime-local" name="datetimeStart" />
            <br>
            <label>Конец </label>
            <input class="test-presets-edit-input" type="datetime-local" name="datetimeEnd" />
            <br>
            <input name="createExam" class="p-3 bg-blue-500 hover:bg-blue-600 text-white rounded cursor-pointer" type="submit" value="Начать тестирование" />
        </form> -->
        <!-- <form class="test-presets-delete-form" method="POST" action="/testpresets/delete">
            <input hidden name="presetId" value="@item.Id" />
            <input class="p-3 rounded text-red-500 border-2 border-red-500 cursor-pointer hover:bg-red-50" type="submit" value="Удалить" />
        </form> -->
}
</div>
