@using usue_online_tests.Tests
@using Test_Wrapper
@model IEnumerable<usue_online_tests.Models.TestPreset>

@{
    ViewData["Title"] = "Шаблоны тестов";
}

<h1 class="text-3xl font-bold">Шаблоны тестов</h1>
<a class="bg-blue-500 hover:bg-blue-600 text-white p-3 inline-block my-4 rounded" href="/testpresets/create">Создать новый шаблон</a>

@{
    List<ITestCreator> creators = ViewBag.Tests;
}

@if (!Model.Any())
{
    <p>Пока вы не создали ни одного шаблона.</p>
}

<div class="grid grid-cols-2 gap-4">
@foreach (var item in Model)
{
    <a href="/testpresets/edit" class="block rounded-md shadow-sm bg-white p-10 cursor-pointer hover:shadow-md">
        <p class="font-bold text-2xl">@item.Name</p>

        <p>В шаблон входят тесты по дисциплинам:</p>
        <ul class="list-disc">
            @foreach (var t in item.Tests)
            {
                <li>@creators.FirstOrDefault(creator => creator.TestID == t)?.Name</li>
            }
        </ul>
        <!-- <form class="test-presets-edit-form" method="POST" action="/testpresets/startnew">
            <input hidden name="presetId" value="@item.Id" />
            <label>Группа</label>
            <div class="select-group"></div>
            <input name="group" hidden />
            <br>
            <label>Начало</label>
            <input class="test-presets-edit-input" type="datetime-local" name="datetimeStart" />
            <br>
            <label>Конец </label>
            <input class="test-presets-edit-input" type="datetime-local" name="datetimeEnd" />
            <br>
            <input name="createExam" class="p-3 bg-blue-500 hover:bg-blue-600 text-white rounded cursor-pointer" type="submit" value="Начать тестирование" />
        </form> -->
        <!-- <form class="test-presets-delete-form" method="POST" action="/testpresets/delete">
            <input hidden name="presetId" value="@item.Id" />
            <input class="p-3 rounded text-red-500 border-2 border-red-500 cursor-pointer hover:bg-red-50" type="submit" value="Удалить" />
        </form> -->
    </a>
}
</div>
