.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.navigation-logo {
  color: inherit;
  text-decoration: none;
  padding: 15px 0;
  font-weight: bold;
}

.navigation-links {
  display: flex;
}

.navigation-item {
  padding: 15px;
  text-decoration: none;
  color: inherit;
}

.navigation-profile {
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin: auto;
  cursor: pointer;
  position: relative;
}

.navigation-profile-menu {
  position: absolute;
  background: white;
  border: 1px solid gray;
  width: 150px;
  top: 0;
  right: 0;
  margin-top: 40px;
  border-radius: 8px;
}

.navigation-profile-menu-item {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 15px;
  display: block;
}

.main {
  margin-top: 120px;
  margin-bottom: 100px;
}

.main-title {
  margin: 0;
  font-size: 50px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 0, 215, 1) 0%,
    rgba(79, 79, 237, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 425px) {
  .main-title {
    font-size: 34px;
  }
}

.main-description {
  margin: 0;
  margin-top: 40px;
  font-size: 20px;
}

@media (max-width: 425px) {
  .main-description {
    font-size: 16px;
  }
}

.main-button {
  text-decoration: none;
  color: white;
  background: var(--blue);
  padding: 15px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 40px;
}

.main-button-outline {
  text-decoration: none;
  color: var(--blue);
  padding: 15px;
}

.layout {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  padding: 0 15px;
  box-sizing: border-box;
}

.footer {
  text-align: center;
  padding: 15px 0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.login-error {
  background: var(--red);
  color: white;
  padding: 15px;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.login-input {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid gray;
  outline-color: var(--blue);
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  font-size: 16px;
  background: var(--blue);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.test-presets-button {
  background: var(--blue);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  margin-top: 15px;
  display: inline-block;
}

.test-presets-create-button {
  background: var(--blue);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.test-presets-create-button-outline {
  text-decoration: none;
  color: var(--blue);
  padding: 10px;
}

.test-presets-create-group {
  display: flex;
  flex-direction: column;
}

.test-presets-create-group span {
  margin-bottom: 10px;
}

.test-presets-create-group input {
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid gray;
  outline-color: var(--blue);
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
* {
  font-family: Inter;
}
:root {
  --blue: rgb(89, 89, 255);
  --red: rgb(253, 83, 83);
}

/*# sourceMappingURL=index.css.map */
