.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.navigation-logo {
  color: inherit;
  text-decoration: none;
  padding: 15px 0;
  font-weight: bold;
}

.navigation-links {
  display: flex;
}

.navigation-item {
  padding: 15px;
  text-decoration: none;
  color: inherit;
}

.navigation-profile {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin: auto;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.navigation-profile-menu {
  position: absolute;
  background: var(--background);
  border: 1px solid gray;
  width: 150px;
  top: 0;
  right: 0;
  margin-top: 40px;
  border-radius: 8px;
  z-index: 999;
  position: absolute;
}

.navigation-profile-menu-item {
  text-decoration: none;
  color: var(--foreground);
  margin: 0;
  padding: 15px;
  display: block;
}

.navigation-mobile {
  padding: 15px;
  padding-right: 0;
}

.navigation-mobile-menu {
  position: absolute;
  left: 0;
  background: var(--background);
  right: 0;
  margin-top: 54px;
  border-bottom: 1px solid gray;
  z-index: 999;
  position: absolute;
}

@media (min-width: 768px) {
  .navigation-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .navigation-item {
    display: none;
  }
}

.main {
  margin-top: 120px;
  margin-bottom: 100px;
}

.main-title {
  margin: 0;
  font-size: 50px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 0, 215, 1) 0%,
    rgba(79, 79, 237, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 425px) {
  .main-title {
    font-size: 34px;
  }
}

.main-description {
  margin: 0;
  margin-top: 40px;
  font-size: 20px;
}

@media (max-width: 425px) {
  .main-description {
    font-size: 16px;
  }
}

.main-button {
  text-decoration: none;
  color: white;
  background: var(--blue);
  padding: 15px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 40px;
}

.main-button-outline {
  text-decoration: none;
  color: var(--blue);
  padding: 15px;
}

.layout {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  padding: 0 15px;
  box-sizing: border-box;
}

.footer {
  text-align: center;
  padding: 15px 0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.login-error {
  background: var(--red);
  color: white;
  padding: 15px;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.login-input {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid gray;
  outline: none;
  box-sizing: border-box;
  background: var(--background-input);
  color: var(--foreground);
}

.login-button {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  font-size: 16px;
  background: var(--blue);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.test-presets-button {
  background: var(--blue);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  margin-top: 15px;
  display: inline-block;
  margin-bottom: 25px;
}

.test-presets-create-button {
  background: var(--blue);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.test-presets-create-button-outline {
  text-decoration: none;
  color: var(--blue);
  padding: 10px;
}

.test-presets-create-group {
  display: flex;
  flex-direction: column;
}

.test-presets-create-group span {
  margin-bottom: 10px;
}

.test-presets-create-group input {
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid gray;
  outline: none;
  background: var(--background-input);
  color: var(--foreground);
  box-sizing: border-box;
}

.test-presets-card {
  border-radius: 8px;
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 15px;
}

.test-presets-card-title {
  margin: 0;
  font-size: 24px;
}

.test-presets-card-list {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-bottom: 15px;
}

.test-presets-delete-button {
  color: var(--red);
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
  padding: 0;
}

.test-presets-edit-form label {
  width: 70px;
  display: inline-block;
  margin-bottom: 10px;
}

.test-presets-edit-input {
  width: 165px;
  background: var(--background-input);
  padding: 5px;
  color: var(--foreground);
  outline: none;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid gray;
}

.test-presets-start-button {
  display: block;
  margin-top: 15px;
  border: none;
  color: var(--blue);
  background: none;
  padding: 0;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.test-card {
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid gray;
}

.test-card-title {
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.test-card-description {
  margin: 0;
  margin-bottom: 15px;
}

.test-card-button {
  text-decoration: none;
  color: white;
  background: var(--blue);
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
}

.test-description {
  margin-bottom: 25px;
}

.test-start-img {
  border: 2px solid gray;
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  height: 100%;
}

.test-start-input {
  border: 2px solid gray;
  border-radius: 8px;
  background: var(--background-input);
  color: var(--foreground);
  padding: 5px;
  outline: none;
  margin: 2px 5px;
}

.test-start-complete-button {
  background: var(--blue);
  color: white;
  border: 0;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
}

.test-start-text {
  overflow: hidden;
  overflow-x: auto;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
}
.hidden {
  display: none;
}
* {
  font-family: Inter;
}
:root {
  --blue: rgb(89, 89, 255);
  --red: rgb(253, 83, 83);
  --background: white;
  --foreground: black;
  --background-input: rgb(235, 235, 235);
}
[data-theme="dark"]:root {
  --background: rgb(31, 31, 31);
  --foreground: white;
  --background-input: rgb(54, 54, 54);
}

/*# sourceMappingURL=index.css.map */
