@using usue_online_tests.Data
@inject DataContext data
@{
    string theme = "light";
    if (Context.User.Identity.IsAuthenticated)
    {
        var user = data.Users.FirstOrDefault(user1 => user1.Login == Context.User.Identity.Name);
        if (user is { IsDark: true })
        {
            theme = "dark";
        }
    }
}
<!DOCTYPE html>
<html lang="en" data-theme="@theme">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/bundles/styles/index.css" />
    @await RenderSectionAsync("Scripts", required: false)
</head>

<body>
    @{
        await Html.RenderPartialAsync("Navigation");
    }
    <div class="layout">
        @RenderBody()
    </div>

    <footer class="footer">Уральский государственный экономический университет - @(DateTime.Now.Year).</footer>
    <script src="~/bundles/index.js"></script>
</body>

</html>
