@using usue_online_tests.Data
@inject DataContext data
@{
    string theme = "light";
    if (Context.User.Identity.IsAuthenticated)
    {
        var user = data.Users.FirstOrDefault(user1 => user1.Login == Context.User.Identity.Name);
        if (user is { IsDark: true })
        {
            theme = "dark";
        }
    }
}
<!DOCTYPE html>
<html lang="en" data-theme="@theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/bundles/index.css" />
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body class="flex min-h-screen flex-col bg-base-200 px-4">
    @{
        await Html.RenderPartialAsync("Navigation");
    }
    <div class="grow max-w-screen-lg mx-auto w-full">
        @RenderBody()
    </div>
    <footer class="footer footer-center p-4 text-base-content">
        <div class="footer-center p-4 text-base-content">
            © @(DateTime.Now.ToNowEkb().Year) - Уральский государственный экономический университет
        </div>
    </footer>
    <script src="~/bundles/index.js"></script>
</body>
</html>
