@using usue_online_tests.Data
@inject DataContext data
@{
    string theme = "";
    if (Context.User.Identity.IsAuthenticated)
    {
        var user = data.Users.FirstOrDefault(user1 => user1.Login == Context.User.Identity.Name);
        if (user.IsDark)
        {
            theme = "dark";
        }
    }
}
<!DOCTYPE html>
<html lang="en" class="@theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/bundles/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body class="flex min-h-screen flex-col bg-gray-100">
    @{await Html.RenderPartialAsync("Navigation");}
    <div class="grow max-w-screen-lg mx-auto w-full">
        @RenderBody()
    </div>
    <footer class="text-center py-4">Уральский государственный экономический университет&nbsp;-&nbsp;@(DateTime.Now.Year).</footer>
    <script src="~/bundles/index.js"></script>
</body>
</html>
