@inject GetUserByCookie User

<nav class="navigation">
    <a class="navigation-logo" href="/">AT Online</a>
    <div class="navigation-links">
        @{
            if (User.GetUser()?.Role is Roles.Admin or Roles.Teacher)
            {
                <a class="navigation-item" href="/testpresets">Шаблоны тестов</a>
                <a class="navigation-item" href="/studentlist">Списки студентов</a>
            }

            if (Context.User.Identity is { IsAuthenticated: true })
            {
                <a class="navigation-item" href="/tests/view">Доступные тесты</a>
                <div class="navigation-profile">
                    <div class="navigation-profile-menu hidden">
                        <a class="navigation-profile-menu-item" href="/profile">Профиль</a>
                        <p class="navigation-profile-menu-item theme-switcher">Изменить тему</p>
                        <a class="navigation-profile-menu-item" href="/login/loginout">Выход</a>
                    </div>
                </div>
            }
        }
    </div>
</nav>