@inject GetUserByCookie User
@using System.Text

<nav class="navigation">
    <a class="navigation-logo" href="/">AT Online</a>
    <div class="navigation-links">
        @{
            if (User.GetUser()?.Role is Roles.Admin or Roles.Teacher)
            {
                <a class="navigation-item" href="/testpresets">Шаблоны тестов</a>
                <a class="navigation-item" href="/studentlist">Списки студентов</a>
            }

            if (Context.User.Identity is { IsAuthenticated: true })
            {
                // https://mui.com/components/avatars/#letter-avatars
                var hash = 0;
                var username = User.GetUser().Name;

                for (var i = 0; i < username.Length; i += 1)
                {
                    hash = Encoding.ASCII.GetBytes(username)[i] + ((hash << 5) - hash);
                }

                var profileColor = "#";

                for (var i = 0; i < 3; i += 1)
                {
                    var value = (hash >> (i * 8)) & 0xff;
                    profileColor += $"{value.ToString("X2")}";
                }

                <a class="navigation-item" href="/tests/view">Доступные тесты</a>
                <div class="navigation-profile" style="background: @profileColor">
                    @char.ToUpper(username[0])
                    <div class="navigation-profile-menu hidden">
                        <a class="navigation-profile-menu-item" href="/profile">Профиль</a>
                        <p class="navigation-profile-menu-item theme-switcher">Изменить тему</p>
                        <a class="navigation-profile-menu-item" href="/login/loginout">Выход</a>
                    </div>
                </div>

                var mobileMenuColor = User.GetUser().IsDark ? "white" : "black";

                <svg class="navigation-mobile" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                fill="@mobileMenuColor">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                </svg>
                <div class="navigation-mobile-menu hidden">
                    @if (User.GetUser()?.Role is Roles.Admin or Roles.Teacher)
                    {
                        <a class="navigation-profile-menu-item" href="/testpresets">Шаблоны тестов</a>
                        <a class="navigation-profile-menu-item" href="/studentlist">Списки студентов</a>
                    }
                    <a class="navigation-profile-menu-item" href="/tests/view">Доступные тесты</a>
                    <a class="navigation-profile-menu-item" href="/profile">Профиль</a>
                    <p class="navigation-profile-menu-item mobile-theme-switcher">Изменить тему</p>
                    <a class="navigation-profile-menu-item" href="/login/loginout">Выход</a>
                </div>
            }
        }
    </div>
</nav>