@inject GetUserByCookie User

<nav class="navigation">
    <a class="navigation-logo" href="/">AT Online</a>
    <div class="navigation-links">
        @{
            if (User.GetUser()?.Role is Roles.Admin or Roles.Teacher)
            {
                <a href="/studentlist">Списки студентов</a>
                <a href="/testpresets">Шаблоны тестов</a>
            }

            if (Context.User.Identity is { IsAuthenticated: true })
            {
                <a href="/tests/view">Просморт доступных тестов</a>
                <a href="/profile">Ваш личный кабинет, @User.GetUser().Name</a>
                <a href="/login/loginout">Выход</a>
            }
        }
    </div>
</nav>