@inject GetUserByCookie User
@inject DataContext context
@using System.Text
@using usue_online_tests.Data

<script>
  
        var r = $.post("/availabletests/count",
            {},
            function (data, status) {
                document.getElementsByClassName("navigation-item")[0].innerText += " (" + data + ")";
            });

</script>

<nav class="max-w-screen-lg mx-auto navbar w-full">
    <a class="text-xl flex-1 -ml-1" href="/">Аудиторные тесты</a>
    <ul class="menu menu-horizontal p-0">
        @{
            var user = User.GetUser();
            if (user?.Role is Roles.Admin or Roles.Teacher)
            {
                <li><a class="" href="/testpresets">Шаблоны тестов</a></li>
                <li><a class="" href="/studentlist">Списки студентов</a></li>
            }

            if (user?.Role is Roles.User)
            {
                <li><a class="" href="/availabletests">Тесты для прохождения</a></li>
            }


            if (Context.User.Identity is { IsAuthenticated: true })
            {
                // https://mui.com/components/avatars/#letter-avatars
                var hash = 0;
                var username = user?.Name;

                for (var i = 0; i < username?.Length; i += 1)
                {
                    hash = Encoding.ASCII.GetBytes(username)[i] + ((hash << 5) - hash);
                }

                var profileColor = "#";

                for (var i = 0; i < 3; i += 1)
                {
                    var value = (hash >> (i * 8)) & 0xff;
                    profileColor += $"{value.ToString("X2")}";
                }

                <li><a class="" href="/tests/view">Доступные тесты</a></li>
                <div class="dropdown ml-4 w-8 h-8 rounded-full text-white cursor-pointer flex justify-center items-center" style="background: @profileColor">
                    @char.ToUpper(username[0])
                    <div class="menu menu-compact dropdown-content">
                        <a class="navigation-profile-menu-item" href="/profile">Профиль</a>
                        <p class="navigation-profile-menu-item theme-switcher">Изменить тему</p>
                        <a class="navigation-profile-menu-item" href="/login/loginout">Выход</a>
                    </div>
                </div>

                var mobileMenuColor = user is { IsDark: true } ? "white" : "black";

                <svg class="hidden" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                     fill="@mobileMenuColor">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                </svg>
                <div class="navigation-mobile-menu hidden">
                    @if (user?.Role is Roles.Admin or Roles.Teacher)
                    {
                        <a class="navigation-profile-menu-item" href="/testpresets">Шаблоны тестов</a>
                        <a class="navigation-profile-menu-item" href="/studentlist">Списки студентов</a>
                    }
                    @if (user?.Role is Roles.User)
                    {
                        <a class="navigation-item" href="/availabletests">Тесты для прохождения</a>
                    }
                    <a class="navigation-profile-menu-item" href="/tests/view">Доступные тесты</a>
                    <a class="navigation-profile-menu-item" href="/profile">Профиль</a>
                    <p class="navigation-profile-menu-item mobile-theme-switcher">Изменить тему</p>
                    <a class="navigation-profile-menu-item" href="/login/loginout">Выход</a>
                </div>
            }
        }
    </div>
</nav>