@model string

@{
    ViewData["Title"] = "Вход";
}

<form class="login" action="/login/loginin" method="post">
    @if (!string.IsNullOrEmpty(Model))
    {
        <div class="login-error">@Model</div>
    }
    <input class="login-input" placeholder="Почта" name="login" type="text"/>
    <input class="login-input" placeholder="Пароль" name="password" type="password"/>
    <input class="login-button" type="submit" value="Войти"/>
</form>