@model List<IGrouping<string, User>>

@{
    ViewData["Title"] = "Списки студентов";
}

@section Scripts
    {
    <link rel="stylesheet" href="css/studentlist.css" />
}

<div class="prose">
    <h1>Управление списками студентов</h1>
</div>

<div class="btn-container">
    <form method="get" action="/studentlist/createpage">
        <button class="btn btn-success btn-create-studentlist" type="submit">Создать группу</button>
    </form>
</div>

<div class="prose">
    <h1>Списки студентов</h1>

    @for (int i = 0; i < Model.Count; i++)
    {
        <h3>@Model[i].Key:</h3>
        <ul>
            @foreach (User user in Model[i])
            {
                <li>@user.Name</li>
            }
        </ul>
    }
</div>