@model List<IGrouping<string, User>>

@{
    ViewData["Title"] = "Списки студентов";
}
<h1 class="text-3xl font-bold mb-5">Списки студентов</h1>

@for (int i = 0; i < Model.Count; i++)
{
    <div class="space-y-3">
        <h3 class="font-bold text-lg">@Model[i].Key:</h3>
        <ul class="list-disc list-inside space-y-3 text-lg">
        @foreach (User user in Model[i])
        {
            <li>@user.Name</li>
        }
        </ul>
    </div>
}