@using Test_Wrapper
@model List<ITestCreator>

@{
    ViewData["Title"] = "Доступные тесты";
}

<div class="prose">
    <h1 class="mb-8">Доступные тесты</h1>
</div>

<div class="grid gap-4">
@for (int i = 0; i < Model.Count; i++)
{
    <a class="card bg-white shadow-md hover:shadow-lg" href="/tests/start?id=@Model[i].TestID">
        <div class="card-body">
            <h2 class="card-title">@Model[i].Name</h2>
            <p>@Model[i].Description</p>
        </div>
    </a>
}
</div>