<div class="load-container">
    <form action="/compiler/loadtestcode" method="post">
        <textarea class="code-place" name="code"></textarea>
        <input type="submit">
    </form>
</div>


<style>
    .code-place {
        height: 400px;
        width: 100%;
        border-radius: 15px;
        border: 5px solid gainsboro;
        font-size: 18px;
    }
</style>